* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* nav */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}
/* social icons */

#social-icons {
    position: fixed;
    z-index: 90;
    right: 2%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    
    background-color: lightslategrey;
    }

    .social-icon {
        font-size: 30px;
        color: black;
    }
/* Landing */
#Landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(./images/josh-rose-trYl7JYATH0-unsplash\ \(1\).jpg);
    background-size: cover;
    color: white;
}

#Landing h1 {
    font-size: 4rem;
    border: none;
}

#Landing p {
    font-size: 30px;
}

button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: lightslategray;
    padding: 10px;
    border-radius: 10px;
    color: black;
    border: 1px solid white;
}

/* About Section */
#About {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#About h1 {
    font-size: 4rem;
    border-bottom: 10px solid black ;
}
.row {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
   
}

.col-sm-3 {
    flex: 0 0 auto;
    width: 50%;
}

.image_img img {
    width: 500px;
    height: 500px;
    
    border-radius: 50%;
}

.about_description {
    text-align: center;
    max-width: 500px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.about_description h2 {
    font-size: 3rem;
}
.about_description p {
    font-size: 16px;
    color: black;
}
li {
    line-height: 1.5;
    
}

/* Skills Section*/
#Skills {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
div.skills-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#Skills h1{
font-size: 4rem;
text-align: center;
}

.intro{
    margin-inline: 7%;
}

/* Resume Section */
#Resume {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Resume h1{
    font-size: 4rem;
    text-align: center;
    }
/* Project section */
#Project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Project h1{
    font-size: 4rem;
    text-align: center;
    }

    /*image overlay */

.image {
    position: relative;
    width: 300px;
}

.image__img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transfor, 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.image__btn {
    font-size: 1.25em;
    margin-top: 0.25em;
    padding: 10px;
    font-size: 40pxpx;
    display: flex;
    gap: 20px;
}

/* Testimonial section */
#testimonial {
    width: 100%;
    height: 98vh;
    
    
}

.testimonial-title {
    font-size: 2rem;
    text-align: center;
    
    margin-inline: 10%;
    margin-top: 10px;
}
/* Testimonial sections */
#Testimonial {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Testimonial h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
    }
.testimonial img {
    width: 150px;
    height: 150px;
    margin-left: 45%;
    border-radius: 50%;
    }
.testimonial h3{
    text-align: center;
}
    .testimonial p {
        padding: 0 30%;
    }

/* Contact Section */
#Contact {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Contact h1{
    font-size: 4rem;
    text-align: center;
    }

    /* contacts Section */

#contacts {
    width: 100%;
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contacts-title {
    
    text-align: center;
    font-size: 2rem;
    margin-inline: 10%;
    margin-bottom: 10px;
}

.contacts-container {
    
    margin-inline: 10%;
    padding: 10px;
}

.contacts-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.contact-input {
    background-color: lightslategray;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.contacts-form div.row {
    flex-direction: column;
    gap: 10px;
}
div.mb-3 {
    width: 96%;
}
.col-sm-4 {
    width: 50%;
}
.carousel-indicators {
    margin-top: 50px;
    background-color: lightslategray;
}

/* footer */
footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1029px) {
    .image_img img {
        width: 400px;
        height: 400px;
    }
    .about_description {
        width: 400px;
        height: 400px;
    }
    .about_description h2 {
        font-size: 3rem;
    }
    #About h1 {
        font-size: 3rem;
    }
    #Skills h1 {
        font-size: 3rem;
    }
    #Resume h1 {
        font-size: 3rem;
    }
    #Project h1 {
        font-size: 3rem;
    }
    #Testimonial h1 {
        font-size: 3rem;
    }
    #Contact h1 {
        font-size: 3rem;
    }
    img.image__img {
        width: 250px;
        height: 250px;
        display: flex;
    }
    .card p {
        font-size: 10px;
    }
    .card {
        max-height: 150px;
    }
    .card li {
        font-size: 10px;
    }
    .card h2 {
        font-size: 1rem;
        
    }
}
@media (max-width: 992px) {
    .image_img img {
        width: 350px;
        height: 350px;
    }
    .about_description {
        width: 350px;
        height: 350px;
    }
    .about_description h2 {
        font-size: 2rem;
    }
    #About h1 {
        font-size: 2rem;
    }
    #Skills h1 {
        font-size: 2rem;
    }
    #Resume h1 {
        font-size: 2rem;
    }
    #Project h1 {
        font-size: 2rem;
    }
    #Testimonial h1 {
        font-size: 2rem;
    }
    #Contact h1 {
        font-size: 2rem;
    }
    img.image__img {
        width: 200px;
        height: 200px;
    }
    #Landing h1 {
        font-size: 3rem;
    }
    #Landing p{
        font-size: 18px;
    }
}