* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* landing section */
#Landing {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* About section */
#About {
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    width: 100%;
}
.col {
    width: 100%;
}
.Hero_img {
    width: 400px;
    height: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Skills section */
#Skills {
    width: 100%;
    height: 98vh;
    border: 1px solid black;
}

.progress {
    margin: 10px;
}

.progress-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

